.control label {
  display: block;
  font-size: 16px;
  color: gray;
}

.control input {
  width: 100%;
  height: 40px;
  border-radius: 7px;
  border-width: 1px;
}

.inputError {
  color: red;
  font-size: 14px;
}