.card {
  width: 250px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  background-image: url('../../assets/images/5365460.jpg');
  background-size: cover;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.title {
  color: white;
}

.birthday {
  color: white;
  margin-top: 0;
}
